* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: url('https://firebasestorage.googleapis.com/v0/b/elfamosotexcoco-c1801.appspot.com/o/bg.png?alt=media&token=52d17b27-f11b-4b53-bc91-10ab5b28900a');
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* HEADER */

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 1em;
    font-weight: 500;
}

header h1 {
    display: none;
}

header img {
    width: 40%;
    margin-top: 2em;
}

header .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: .4em;
}

header .info address, header .info a {
    display: flex;
    align-items: center;
    font-size: 1.4em;
    text-align: center;
    gap: .4em;
}

.header-icon {
    color: #673824;
}

header .info a {
    color: #000;
    text-decoration: none;
}

/* MENU */

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    margin: 2em 0;
}

.dish {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffffff60;
    width: 50%;
    min-width: 330px;
    max-width: 500px;
    border-radius: 30px;
    padding: 1em 0;
}

.dish::after {
    content: '$10';
    position: absolute;
    top: 8px;
    right: 13px;
    font-size: 2em;
    font-weight: 600;
    background-color: #ffffff60;
    color: #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    padding: .25em;
    border-radius: 10px;
}

.dish-name {
    font-size: 1.5em;
    font-weight: 600;
}

.dish-img {
    width: 9.5em;
}

.dish-type {
    text-align: center;
    font-size: .9em;
}

/* RESPONSIVE */

@media screen and (max-width: 400px) {
    header .info address {
        font-size: .85em;
    }
    
    header .info a {
        font-size: 1em;
    }

    .dish::after {
        font-size: 1.3em;
    }
}